html{
	height: 100%;
}

body{
	
	background-color: white;
	font-family: Century Gothic, sans-serif;
	color: #595959;/*Skriftfarge i content*/
	font-size: 13pt;
	margin: 0;
	/* For å få footeren til å ikke ligge over teksten */
	position: relative;
	min-height: 100%;
}

h2, h3{
	margin-bottom: 0;
}

p{
	margin-top: 10px;
	margin-bottom: 15px;
}

img{
	width: 100%;
	margin: 0;
	padding: 0;
}

/* NAVIGASJONSBAR DESIGN
   --------------------- */

/*Plassering og bakgrunnsfarge av navbar*/
.navbar {
	background-color: #333333;/*#c3d1d8;*/
	overflow: hidden; /*Viser bakgrunnsfargen for navbar*/
	padding-left: 0;
	margin: 0; /*fjerner margin rundt navbar*/
	list-style-type: none; /*fjerner listestyling*/
}

/*Navigasjonsinnholds design*/
li a{
	color: white;/*#556670;*/
	display: inline-block; /*Gjør menyene til blocks*/
	text-align: left;
	padding: 20px; /*Mer rom rundt menyknapp*/
	text-decoration: none; /*Fjerne link-understrek*/
	font-size: 13pt;
}

/* Plasserer menyknappene ved siden av hverandre
   og lager border imellom*/
li{
	float: left;
	border-right: solid 1px white /*#a7b3ba*/;
}

/*Fjerne venstre border på "FABO-studien" */
li:nth-child(4){
	border-right: none;
}

li.dropdown {
	display: inline-block; /*Gjør dropdownmenyene til blocks*/
}

/*Dropdown meny design*/
.dropdowncnt{
	display: none; /*Dropdown skjules*/
	position: absolute;
	background-color: white; /*#e6eaed;*/ /*bakgrunnsfarge på dropdown, samme som nav-bar*/
}

/*Dropdown innhold style*/
.dropdowncnt a {
	color: #556670;
	font-size: 11pt;
	text-align: left;
	text-decoration: none; /*Fjerner link-understrek*/
	display: block; /*Droppdown menyene blir til blocks, så de ligger under hverandre*/
	padding: 15px;
}

/*dropdown når mus over*/
.dropdown:hover .dropdowncnt {
	display: block; /*Dropdownmenyene vises når hovres*/
}

/*innhold body*/
#content{
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 4%;
	padding-bottom: 130px;

}

/*SEARCHBAR IN NAVBAR
  -------------------*/
/*selve searchbaren og dens padding*/
#searchBar{
	padding-top:8px; 
	padding-right: 8px;
}

/*Innholdet i searchbaren
  Kode hentet fra: http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_anim_search*/
#searchBarCnt{
	float: right;
	width: 120px;
	font-family: Century Gothic, sans-serif;
	box-sizing: border-box; /*width og height inkluderer content, padding, border, men ikke margin*/
	border: 2px solid #ccc;
	border-radius: 4px; /*runde kanter*/
	font-size: 13px;
	background-color: white; /*hvis ikke search-bildet vises*/
	background-image: url("Y:/Documents/IT2805/Fabo/img/searchicon.png");
	background-size: 20px;
	background-position: 10px;
	background-repeat: no-repeat; 
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out; /*smooth forstørring*/
	transition: width 0.4s ease-in-out; /*smooth forminsking*/
}	

#searchBarCnt:focus{
	width: 30%;
}

/*PAGE-TITLE AND CONTENT DESIGN
  ----------------------------- */
#titleLine{
	border-top: solid 2px #666666; 
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0; 
}
h1{
	text-align: center;
	margin-bottom: 1%;
	margin-top: 10%;
}




/* FOOTER DESIGN
   --------------------- */
footer {
	position: absolute;
	width: 100%;
	height: 150px;
	background-color: #4D4D4D;
}

footer, .footerTable a {
	font-size: 11pt; /*Endrer størrelsen på all tekst i footer*/
	text-decoration: none; /*Fjerner understrek på linker*/
	color: white; /*Setter farge på link-tekst lik all annen tekstfarge*/
}

/*Setter størrelse på footerTable*/
.footerTable{
	width: 100%;
	padding: 2%;
}

/*Endrer siste celle slik at logoene blir plassert lengst mot høyre*/
.footerTable tr td:nth-child(3){
	width: 10%;
}

/*Lager linje under Annet og Kontakt i footer*/
#borderAnnet, #borderKontakt{
	border-top: solid white 1px;
	width: 250px;
}

#picCell{
	background-color: white;
}

/*Endrer størrelse på logoer og plassering i cellen*/
#logo{
	width: 250px;
	height: 100px;
}