body{
	
	background-color: #F4F4F4; /*Veldig lys grå*/
	font-family: Tahoma, Arial;
	color: #282828;
	font-size: 14pt;
	margin-left: 15%;
	margin-right: 15%;
}
h2{
	font-size: 30pt;
	margin-bottom: 0;
}

img{
	width: 100%;
	margin: 0;
	padding: 0;
}

/* NAVIGASJONSBAR DESIGN
   --------------------- */

/*Plassering og bakgrunnsfarge av navbar*/
.navbar {
	background-color: #c3d1d8;
	overflow: hidden; /*Viser bakgrunnsfargen for navbar*/
	padding: 0;
	margin: 0;
	list-style-type: none; /*fjerner listestyling*/
}

/* Plasserer menyknappene ved siden av hverandre
   og lager border imellom*/
li{
	float: left;
	border-left: solid #a7b3ba;
}

/*Fjerne venstre border på "FABO-studien" */
li:nth-child(1){
	border-left: none;
}

/*Navigasjonsinnholds design*/
li a, .dropbtn{
	color: #556670;
	display: inline-block; /*Gjør menyene til blocks*/
	text-align: left;
	padding: 15px 17px; /*størrelsen på hver meny i navbar*/ 
	text-decoration: none; /*Fjerne link-understrek*/
	font-size: 12pt;
}

/*Mus-hovering design*/
li a:hover, .dropdown:hover .dropbtn {
	background-color: #e6eaed;
}


li.dropdown {
	display: inline-block; /*Gjør dropdownmenyene til blocks*/
}

/*Dropdown meny design*/
.dropdowncnt{
	display: none; /*Dropdown skjules*/
	position: absolute;
	background-color: #c3d1d8; /*bakgrunnsfarge på dropdown, samme som nav-bar*/
}

.dropdowncnt a {
	color: #556670;
	font-size: 10.5pt;
	text-align: left;
	text-decoration: none; /*Fjerner link-understrek*/
	display: block; /*Droppdown menyene blir til blocks, så de ligger under hverandre*/
}


.dropdown:hover .dropdowncnt {
	display: block; /*Dropdownmenyene vises når hovres*/
}


footer {
	border-top: solid #445166;
	background-color: #bcbcbc;
}

footer p, a {
	font-size: 9pt;
}


#linker {
	float:left;
	width: 33%
}

#kontakt {
	float: left;
	width: 33%;
}

#logoer {
	padding-top: 2%;
	padding-bottom: 2%;
	float: right;
	width: 33%;
	height: 40%;
}

#hbergen { width: 110px; height: 25px;}
#uib { width: 66px; height: 65px;}


