body{
	
	background-color: #F4F4F4; /*Veldig lys grå*/
	font-style: Tahoma;
	color: #282828;
	font-size: 14pt;
	margin-left: 15%;
	margin-right: 15%;
}
h2{
	font-size: 30pt;
}

img{
	width: 100%;
	margin: 0;
	padding: 0;
}

ul {
	background-color: #c3d1d8;
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

li{
	float: left;
}

/*Navigasjonsinnholds design*/
li a, .dropbtn {
	color: #556670;
	display: inline-block;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	min-width: 100px;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #e6eaed;
}

li.dropdown {
	display: inline-block;
}

.dropdowncnt{
	display: none;
	position: absolute;
	background-color: #c3d1d8; /*bakgrunnsfarge til nav-bar*/
}

.dropdowncnt a {
	color: #556670;
	font-size: 10.5pt;
	text-align: left;
	text-decoration: none;
	padding: 10px 12px; /*Samme padding som nav-bar*/
	display: block;
}

/*display block viser dropdownmenyene*/
.dropdown:hover .dropdowncnt {
	display: block;
}
