body{
	font-family: Verdana, Geneva, sans-serif;
	margin: auto;
	margin-top: 4%;
	max-width: 75ch;
	background-color: bisque;
}

h3 {
	margin-bottom: 3px;
	border-bottom: 2px solid black;
}

h5{
	margin-bottom: 3px;
}

p, ul{
	margin-top: 0px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
}


figcaption{
	font-size: 15px;
	text-align: center;

}

table {
    border: solid;
    border-collapse: collapse;
}

th, td {
	border: 1px solid;
    padding: 5px;
    text-align: left;
}
.ukeBorder{
	border-bottom: 3px solid;
}

.box{
	float: left;
	width: 10px;
	height: 10px;
	margin: 5px;
}
.renateOgOddrun{
	background: linear-gradient(90deg, #ADF0FF 50%, #6BE86B 50%);
}
.monikaOgMartin{
	background: linear-gradient(90deg, #FF8770 50%, #FFFF52 50%);
}

.martin{
	background-color: #FFFF52;
}
.oddrun{
	background-color: #ADF0FF;
}
.monika{
	background-color: #FF8770;
}
.renate{
	background-color: #6BE86B;
}
.alle{
	background-color: #BF73E6;
}

